Server = ":8088"
LogLevel = "debug"
[wechat]
CorpID = ""
AgentID = ""
Token = ""
EncodingAESKey = ""
Secret = ""
[email]
Host = ""
Port = ""
IsSSL = true
User =""
NickName = ""
Password = ""